body {
	background-color: #757575;
}

header {
	background-color: #424242;
	width: 100%;
	height: 240px;
	margin-left: -10px;
	margin-top: -10px;
	position: fixed;
	transition: height 0.2s ease;
}

header.isScrolled  {
	height: 80px;
}

/* Heading Text */
p#pageHeading {
	font-family: Source Sans Pro;
	font-size: 72px;
	font-weight: 200;
	color: #FFFFFF;
	text-align: center;
	margin-top: 30px;
	transition: font-size 0.4s ease, margin-top 0.4s ease;
}

p#pageHeading.isScrolled {
	text-align: left;
	font-size: 32px;
	margin-left: 20px;
	margin-top: 20px;
}

/* Navigation Buttons */
#navButtons {
	padding: 24px;
	margin-top: -60px;
}

#navButtons > a {
	font-family: Source Sans Pro;
    font-size:17px;
    background: #292929;
    padding: 12px 20px;
    color:#FFFFFF;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 3px;
    transition: background 0.4s;
}

#navButtons > a:hover {
	background-color: #2a87a8;
}

div#navButtons.isScrolled {
	margin-top: -85px; 
}

/* Social Buttons */
/* YouTube */
img#youtubeSocial {
	right: 0px;
	top: 75px;
	position: fixed;
	width: 45px;
	height: 45px;
	transition: margin-right 0.2s, margin-top 0.1s, right 0.4s, top 0.4s;
}

img#youtubeSocial:not(.isScrolled):hover {
	margin-right: 10px;
}

img#youtubeSocial.isScrolled {
	right: 20px;
	top: 17px;
}

img#youtubeSocial.isScrolled:hover {
	margin-top: 2px;
}

/* Twitter */
img#twitterSocial {
	right: 0px;
	top: 120px;
	position: fixed;
	width: 45px;
	height: 45px;
	transition: margin-right 0.2s, margin-top 0.1s, right 0.4s, top 0.4s;
}

img#twitterSocial:not(.isScrolled):hover {
	margin-right: 10px;
}

img#twitterSocial.isScrolled {
	right: 70px;
	top: 17px;
}

img#twitterSocial.isScrolled:hover {
	margin-top: 2px;
}