#move {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	cursor: pointer;
	transition: background-color 300ms;
}

#move > img {
	height: 30px;
	width: 30px;
	margin-top: 10px;
}

#move:hover {
	background-color: darkgray;
}

#positionOptionWrapper {
	background: rgba(0,0,0,0.8);
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0);
	transition: height 800ms, width 800ms;
	position: absolute;
	left: 5px;
	bottom: 55px;
}

#positionOptionWrapper.hidden {
	height: 0px;
	width: 0px;
}

#positionOptionWrapper.shown {
	height: 130px;
	width: 130px;
	border: 1px solid white;
}

#positionOptionWrapper > div  {
	background: white;
	opacity: 0.6;
	border-radius: 5px;
	height: 0px;
	width: 0px;
	position: absolute;
	transition: opacity 400ms, height 800ms, width 800ms;
	cursor: pointer;
}

#positionOptionWrapper > div:hover {
	opacity: 1.0;
}

#positionOptionWrapper > div.topleft {
	top: 10px;
	left: 10px;
}

#positionOptionWrapper > div.top {
	top: 10px;
	left: 50px;
}

#positionOptionWrapper > div.topright {
	top: 10px;
	left: 90px;
}

#positionOptionWrapper > div.left {
	top: 50px;
	left: 10px;
}

#positionOptionWrapper > div.middle {
	top: 50px;
	left: 50px;
}

#positionOptionWrapper > div.right {
	top: 50px;
	left: 90px;
}

#positionOptionWrapper > div.bottomleft {
	top: 90px;
	left: 10px;
}

#positionOptionWrapper > div.bottom {
	top: 90px;
	left: 50px;
}

#positionOptionWrapper > div.bottomright {
	top: 90px;
	left: 90px;
}