body {
	background-color: #f2f2f2;
}

a:hover {
	color:#f2f2f2;
}

a {
	color:#a9a9a9
}

#navButtons {
	position:fixed;
	margin-left:-10px;
}

#title {
	height:200px; 
	margin-left:220px;
	margin-right:20px;
	margin-top:-40px; 
	font-family:Source Sans Pro;
	font-size:50px;
	text-align:center;
	font-weight:normal;
}

#article {
	font-family:Source Sans Pro;
	font-size:24px;
	font-weight:200;
	margin-left:10px;
	margin-right:10px;
}
	
#contentBackground { 
	margin-left:220px;
	margin-top:-100px;
	margin-right:70px;
	background-color:#EBEBEB
}

#sectionTitle {
	font-family:Source Sans Pro;
	font-size:50px;
	text-align:center;
	display:inline;
	font-weight:400;
}

#sectionParagraph {
}

#twitter {
	transition: margin-right 0.2s;
	margin-top:100px;
	position:fixed;
	right:0px;
}

#twitter:hover {
	margin-right:10px;	
}

#facebook {
	transition: margin-right 0.2s;
	margin-top:140px;
	position:fixed;
	right:0px;
}

#facebook:hover {
	margin-right:10px;
}

#youtube {
	transition: margin-right 0.2s;
	margin-top:180px;
	position:fixed;
	right:0px;
}

#youtube:hover {
	margin-right:10px;
}

#instagram {
	transition: margin-right 0.2s;
	margin-top:220px;
	position:fixed;
	right:0px;
}

#instagram:hover {
	margin-right:10px;
}

#reddit {
	transition: margin-right 0.2s;
	margin-top:260px;
	position:fixed;
	right:0px;
}

#reddit:hover {
	margin-right:10px;
}

#snapchat {
	transition: margin-right 0.2s;
	margin-top:300px;
	position:fixed;
	right:0px;
}

#snapchat:hover {
	margin-right:10px;
}
